In [7]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_excel("./ONLINE ENGAGEMENT TASK 1.xlsx")

In [4]:
df.head()

,writing,Unnamed: 1,word game,Unnamed: 3,Unnamed: 4,Quiz,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Culinary,Unnamed: 32,Comedy,Unnamed: 34,Choreo,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,English Slam Poetry,Hindi Slam Poetry,Scrabble,Cryptic Crossie,Sacred Word Games,General Quiz,SciBizTech,MELA,Sports,India,...,Stage Play,Monoacting,Mime,cook off,tag team,Stand-Up Comedy,Improv,Group Dance,Street Battle,Just Duet
2,Atharva Bhatnagar,Piyush Pancholi,Parichay Gupta,Parichay Gupta,Parichay Gupta,Aayush Gahan,Rishvic Pushpakaran,Akshitha Yedla,Aayush Gahan,Aayush Gahan,...,Areeba faisal,Vedansh Kapoor,Ayush Kumar,Gagarin Rout,Akshat Rampuria,Keshav Anand,Keshav Anand,Dhiren Tripuramallu,Chandra Sathvik,Dhiren Tripuramallu
3,Abhilasha,Jainam Khatri,Pothula Meghana Raaj,Anup Preeyam,Neha Kolukonda,Vedanta Mohapatra,Hrushikesh Joshi,Aditya Balakrishnan,Prathamesh Patil,Prathamesh Patil,...,Simi hazarika,Dhananjay Singh Nandanwan,Manish Sahu,Ojasvv Gupta,Ojasvv Gupta,Harsh,Aaditya,Chandra Sathvik,Sashank Cheekala,Sashank Cheekala
4,Nishtha Taktewale,Nikita Srivastava,Anshul Buxy,Gnan Vikas,Malla Likhitha,Aditya Balakrishnan,Vedanta Mohapatra,Hrushikesh Joshi,Vedanta Mohapatra,Vedanta Mohapatra,...,Sreeja,Ojasvv Gupta,Krishna Chandra Paroha,Jainam Khatri,Jainam Khatri,Vrutant Chaudhari,Aditi,Sashank Cheekala,Likhita Gayathri,Chandra Sathvik

In [12]:
writing = pd.concat([df['writing'],df['Unnamed: 1']],axis =0)

In [13]:
writing

0                      NaN
1      English Slam Poetry
2        Atharva Bhatnagar
3                Abhilasha
4        Nishtha Taktewale
              ...
145                    NaN
146                    NaN
147                    NaN
148                    NaN
149                    NaN
Length: 300, dtype: object